@media screen and (max-width:1389px) {
  .header__menu {
    display: none;
  }

  .header__basket {
    display: none;
  }

  .burger_icon {
    display: block;
  }

  .home {
    padding-bottom: 59px;
  }

  .home__pet {
    display: none;
  }

  .home__offer {
    margin: 0 auto;
  }

  .offer__title {
    text-align: center;
    padding-top: 59px;
    margin-bottom: 10px;
  }

  .offer__subtitle {
    text-align: center;
    margin-bottom: 20px;
  }

  .offer__button {
    display: block;
    margin: 0 auto;
  }

  .reason {
    padding-bottom: 34px
  }

  .reason__title {
    text-align: center;
    padding-top: 59px;
    margin-bottom: 20px;
  }

  .rcard__inner {
    display: block;
    width: 50%;
    margin: 0 auto;
    align-items: center;
  }

  .reason__card {
    margin-bottom: 15px;
  }

  .product {
    padding-bottom: 59px;
  }

  .product__title {
    text-align: center;
    padding-top: 59px;
    margin-bottom: 20px;
  }

  .product__card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22em
  }

  .pcard {
    margin-bottom: 20px;
  }

  .gallery {
    padding-bottom: 29px;
  }

  .gallery__title {
    padding-top: 59px;
    margin-bottom: 40px;
    text-align: center;
  }

  .gallery__column {
    display: block;
    margin: 0 auto;
  }

  .gallery__img {
    margin-bottom: 30px;
  }

  .form {
    padding-bottom: 59px;
  }

  .form__title {
    padding-top: 59px;
  }

  .form__subtitle {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width:646px) {
  .container {
    max-width: 300px;
  }

  .header__logo {
    width: 112px;
    height: 24.68px;
  }

  .burger_icon {
    position: absolute;
    top: 46px;
    right: 51px;
  }
  .order__form {
    width: 300px;
    height: 400px;
  }

  .offer__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    max-width: 284px;
  }

  .offer__subtitle {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
  }

  .offer__button {
    width: 122px;
    height: 31.72px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
  }

  .reason__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }

  .rcard__img {
    width: 62px;
    height: 62px;
  }

  .rcard__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .rcard__subtitle {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    width: 150px;
  }

  .product__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  .pcard {
    width: 232px;
    height: 293px;
  }

  .product__card {
    width: 85%;
  }

  .pcard__ageposition {
    padding-top: 7px;
    padding-left: 12px;
  }

  .pcard__age {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    width: 74px;
    height: 26px;
  }

  .pcard__img {
    padding-left: 0;
    width: 157px;
    height: 97px;
    display: block;
    margin: 0 auto;
  }

  .pcard__title {
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .pcard__subtitle {
    padding-top: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
  }

  .pcard__price {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #00AB07;
  }

  .pbutton__buy {
    width: 122px;
    height: 31px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }

  .gallery__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  .gallery__img {
    width: 267px;
    height: 232px;
  }

  .form__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  .form__subtitle {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
  }

  .form__input {
    width: 255px;
    height: 27px;
  }

  .form__input {
    margin-bottom: 20px;
  }

  .form__button {
    width: 122px;
    height: 31px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }
}